header nav {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

header nav ul#menu {
  width: 100%;
  height: 100%;
  padding: 1.5em 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
}

header nav ul#menu li {
  width: auto;
  height: auto;
  margin-right: 3em;
}

header nav ul#menu li:first-child {
  margin-right: 0;
}

header nav ul#menu li a {
  width: 100%;
  height: 100%;
  font-size: 1.6em;
  color: #5336B9;
}

header nav ul#menu li.logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.75em;
  height: 100%;
}

header nav ul#menu li.logo a {
  font-size: 10px;
  width: auto;
  height: auto;
}

header nav ul#menu li.logo a img {
  width: 6em;
  height: 100%;
}

header nav ul#menu li#mobile {
  display: none;
}

header nav.fix {
  background-color: white;
  position: fixed;
  -webkit-box-shadow: 0 0.2em 0.8em -0.3em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.2em 0.8em -0.3em rgba(70, 69, 85, 0.3);
  z-index: 10;
}

header nav.fix ul#menu li a {
  color: #5336B9;
}

@media screen and (max-width: 900px) {
  header {
    font-size: 8px;
  }
  header nav ul#menu li.logo a {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  header {
    font-size: 6px;
  }
  header nav ul#menu {
    padding: 1.5em 3em;
  }
  header nav ul#menu li.logo a {
    font-size: 6px;
  }
}

@media screen and (max-width: 500px) {
  header nav {
    height: 5em;
  }
  header nav ul#menu {
    padding: 0;
  }
  header nav ul#menu > li:not(#mobile):not(.logo) {
    display: none;
  }
  header nav ul#menu li#mobile {
    margin-right: 0em;
    display: block;
    width: auto;
    height: 100%;
    cursor: pointer;
    position: relative;
    padding: 0 3em;
  }
  header nav ul#menu li#mobile:hover ul {
    opacity: 1;
    visibility: visible;
  }
  header nav ul#menu li#mobile .fa-bars {
    font-size: 3em;
    color: #5336B9;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header nav ul#menu li#mobile ul {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: all .3s linear;
       -moz-transform: all .3s linear;
        -ms-transform: all .3s linear;
            transform: all .3s linear;
    z-index: 5;
    width: 30em;
    height: auto;
    padding: 0;
    position: absolute;
    top: 110%;
    right: 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-align-content: "";
        -ms-flex-line-pack: "";
            align-content: "";
    background-color: white;
    -webkit-box-shadow: 0 0.3em 0.5em -0.1em rgba(70, 69, 85, 0.3);
            box-shadow: 0 0.3em 0.5em -0.1em rgba(70, 69, 85, 0.3);
  }
  header nav ul#menu li#mobile ul li {
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 1.6em;
    background-color: transparent;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    line-height: 4em;
  }
  header nav ul#menu li#mobile ul li:hover {
    background-color: #8068d3;
  }
  header nav ul#menu li#mobile ul li:hover a {
    color: #fbfbfb;
  }
  header nav ul#menu li#mobile ul li a {
    width: 100%;
    height: 100%;
    color: #694dcb;
  }
}

.topSlider {
  width: 100%;
  height: 100%;
  margin: 4em auto;
  position: relative;
}

.topSlider .slide {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
}

.topSlider .slide img:not(.logo) {
  width: 100%;
  height: 100%;
}

.topSlider .slide img.logo {
  width: 7em;
  height: 7em;
  position: absolute;
  right: 1.5em;
  bottom: 1.5em;
}

.topSlider .slide p {
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

.topSlider .slide p:nth-child(2) {
  top: 10%;
}

.topSlider .slide p:nth-child(3) {
  bottom: 10%;
}

.topSlider .slide p.white {
  color: #fbfbfb;
}

.topSlider .slide p.black {
  color: #2d2d31;
}

.topSlider .slide.active {
  opacity: 1;
  visibility: visible;
}

.topSlider .arrow {
  color: #fbfbfb;
  font-size: 4em;
  cursor: pointer;
  padding: 0.75em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.topSlider .arrow:hover {
  -webkit-transform: translateY(-50%) scale(1.3);
     -moz-transform: translateY(-50%) scale(1.3);
      -ms-transform: translateY(-50%) scale(1.3);
          transform: translateY(-50%) scale(1.3);
}

.topSlider .arrow.prev {
  right: 0;
}

.topSlider .arrow.next {
  left: 0;
}

.topSlider .dots_container {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
     -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  bottom: 0.75em;
}

.topSlider .dots_container .dot {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin: 0 0.75em;
  cursor: pointer;
  background-color: #fbfbfb;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
}

.topSlider .dots_container .dot:not(.active):hover {
  background-color: #e567c9;
}

.topSlider .dots_container .dot.active {
  background-color: #C422A0;
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .topSlider {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  .topSlider {
    font-size: 6px;
  }
}

header {
  width: 100%;
  height: 60vh;
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
}
/*# sourceMappingURL=header.css.map */