@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
#copyright{
    width: 100% ;
    padding: .5em ;
    color: rgb(60,60,60) ;
    font-size: $fontL ;
    text-align: center ;
    background-color: rgb(245, 245, 245) ;
    position: relative ;
    z-index: 2 ;
}
#copyright i{
    transform: translateY(20%) ;
}
#copyright a{
    text-decoration: none ;
    color: $darkColor ;
}
@include resizeTablet(#copyright) ;
@include resizeMobile(#copyright) ;