$dist1: 10em ;
$dist2: 20em ;
$dist3: 40em ;
$dist4: 80em ;
$fontS: 12em ;
$fontM: 16em ;
$fontL: 20em ;
$fontXL: 24em ;
$fontSpecial: 30em ;
$fontXXL: 40em ;
$sectionsDist: 60em ;
:export{
    dist1: $dist1 ;
    dist2: $dist2 ;
    dist3: $dist3 ;
    dist4: $dist4 ;
    fontS: $fontS ;
    fontM: $fontM ;
    fontL: $fontL ;
    fontXL: $fontXL ;
    fontSpecial: $fontSpecial ;
    fontXXL: $fontXXL ;
    sectionsDist: $sectionsDist ;
}